.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 10px solid #2E4053;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    background-color: #FFF;
    min-width: 300px;
}

.card .card-header {
    background-color: #2E4053;
    color: #FFF;
    padding: 15px 0px;
    font-size: 2vw;
}

.card .content {
    flex: 1;
    padding: 15px 0px;
}

.card .content ul li {
    list-style: none;
    text-align: left;
}

.card .footer {
    background-color: #2E4053;
    color: #FFF;
    padding: 10px 0px;
}

.card-opposite {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 10px solid #117A65;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    background-color: #FFF;
    min-width: 300px;
}

.card-opposite .card-header {
    background-color: #117A65;
    color: #FFF;
    padding: 15px 0px;
    font-size: 2vw;
}

.card-opposite .content {
    flex: 1;
    padding: 15px 0px;
}

.card-opposite .content ul li {
    list-style: none;
    text-align: left;
}

.card-opposite .footer {
    background-color: #117A65;
    color: #FFF;
    padding: 10px 0px;
}